.header{
    position: fixed;
    right: 50px;
    top: 50px;
    .menu{
        width: 480px;
        height: 650px;
        background-color:#c9fd74;
        border-radius: 25px;
        position: relative;
    }
}